h1= title
#items
    - each item in items
      div.row
        div.created_at= item.created_at
        div.item 
            a(href="/item/"+item._id)!= item.itm
form(method="post", id="/item_new", action='/items/new')
    div
        div
            span New Item :
            input(type="text", name="item", id="editItemText")
        div
            input(type="hidden", name="username", id="editUsername", value="Andy") 
            input(type="submit", value="Add Item")