script
	$(document).ready(function(){
		
		taskmanager.username = prompt("What's your name?", "");
		now.username = taskmanager.username;
		
		//taskmanager.color = prompt("What's your color?", "");
		taskmanager.color = 'white';
		now.color = 'white';
		
		taskmanager.createUser(taskmanager.username, taskmanager.color);
		//taskmanager.populateRoom();
		
	});
header
	#users_wrap
		ul#users
section
	#list_wrap
		ul#list
			li#add_row
				#add_wrap
					input(id='add', type='text')
footer
	#console